[Desktop Entry]
Name=WPS Office Spreadsheet
Comment=WPS Office Spreadsheet
Exec=et
Icon=wps-office-etmain
StartupNotify=false
Type=Application
Categories=Office
